
// Fuentes
$fuente_principal: "Lexend Exa", serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$negroClaro: #202020;
$grisOscuro: #171717;
$amarillo: #E08709;;
$verde: #71B100;
$cian: #00eaff;
$blanco: #FFFFFF;
$gris: #969696;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900