@use "../base/variables" as v;
@use "../base/mixins" as m;

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: 1rem;
    scrollbar-color: v.$negroClaro transparent;
    padding: 1rem 4rem;
    gap: 2rem;
    h1{
        color: v.$blanco;
        text-align: left;
    }
}


.carrusel-img{
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    img{
        // border-radius: 1rem;
        max-width: 50rem;
        height: 25rem;
    }
}

.nav_superior{
    display: flex;
    margin: 2rem;
    ul{
        display: flex;
        width: 100%;
        position: relative;
        
        li{
            display: flex;
            gap: 5rem;
            
            a{
                color: v.$blanco; 
            }
            &:last-of-type{
                margin-right: auto;
                position: absolute;
                right: 0;
            }
        }
    }

   
}