@use "../base/variables" as v;
@use "../base/mixins" as m;

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .imagen{
        display: flex;
        flex-direction: column;
        width: min-content;
        img{
            width: 25rem;
        }
        .imagen_txt{
            color: v.$blanco;
            background-color: v.$negro;
            padding: 0.5rem;
        }   
    }
    
    
}

