@use "../base/variables" as v;
@use "../base/mixins" as m;

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .imagen{
        display: flex;
        flex-direction: column;
        width: min-content;
        img{
            width: 20rem;
            height: auto;
            &:hover{
                transition: 0.25s ease scale;
                scale: 1.05;
            }
        }
        .imagen_txt{
            color: v.$blanco;
            background-color: v.$negro;
            padding: 0.5rem;
        }   
    }
    
    
}

